### API ###
api/.venv/
api/__pycache__/
api/**/__pycache__/
api/*.db
api/.env

### UI ###
ui/node_modules/
ui/dist/
ui/.env

### contracts ###
contracts/node_modules/
contracts/.env
contracts/cache/
contracts/artifacts/

### logs ###
api/uvicorn.log
ui/vite.log

### general ###
.DS_Store
